/********** Template CSS **********/
:root {
  --primary: #ffffff;
  --secondary: #1767a0;
  --light: #f8f8f9;
  --dark: #001d23;
}
body {
  font-family: "Barlow", sans-serif;
}
@font-face {
  font-family: Mokoto;
  src: url("../font/Mokoto-Demo.ttf");
  font-weight: 400;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

h2 {
  font-size: 45px !important;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 100;
}
h3 {
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 100;
}
.btn-blue {
  border-radius: 30px;
  background-color: var(--secondary);
  padding: 8px 20px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border: 1px solid var(--secondary);
  margin-top: 20px;
}
.btn-blue:hover {
  background-color: transparent;
  border: 1px solid var(--secondary);
}
.btn-transparent {
  border: 1px solid #fff;
  font-size: 14px;
  border-radius: 15px;
  padding: 4px 18px;
  color: #fff;
  width: max-content;
}
.card {
  border: none;
}
p.card-text {
  font-size: 14px;
}
/*** Navbar ***/
.fixed-top {
  transition: 0.5s;
  background: #00000096 !important;
}
.fixed-top.bg-dark {
  background-color: #ffffff !important;
  opacity: 1 !important;
}
.fixed-top.bg-dark.navbar .navbar-nav .nav-link {
  color: #000 !important;
}
.fixed-top.bg-dark.navbar .navbar-nav .nav-link img {
  filter: brightness(0) saturate(100%) !important;
}
.navbar .logo img {
  width: 200px;
  height: 70px;
  object-fit: cover;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}
.onion-career{
  position: absolute;
  background-color: #0000002b;
  top: 0;
  width: 100%;
  left: 0;
  height: 500px;
}

.navbar .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 30px;
  color: #fff;
  font-weight: 500;
  outline: none;
}

.fixed-top.navbar .navbar-nav .nav-link:hover,
.fixed-top.navbar .navbar-nav .nav-link.active {
  color: #2dbce4 !important;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: #2dbce4 !important;
}
.nav-mobile-item {
  display: none !important;
}
@media (min-width: 320px) and (max-width: 680px) {
  .nav-mobile-item {
    display: block !important;
  }
  .mission-vission {
    height: 100vh !important;
  }
  .onion-mission {
    height: 100vh !important;
  }
}

@media (min-width: 1024px) {
  .mission-vission p {
    width: 500px;
  }
}

@media (min-width: 681px) and (max-width: 1024px) {

  .mission-vission {
    height: 55vh !important;
  }
  .onion-mission {
    height: 55vh !important;
  }
}

@media (max-width: 991.98px) {
  .sid-section.mirka-section .image-col .image-container {
    margin-right: -15px;
    width: 696px !important;
  }
  .why-suhora-section .mySlides {
  padding: 0 !important;
  }
  .job-card {
    width: 400px !important;
    height: fit-content !important;
  }
  .about-us h2 {
    font-size: 30px !important;
  }
  .job-card .title {
    font-size: 18px !important;
  }
  .job-card .job-item {
    margin-top: 3px;
  }
  .sid-section .image-col .slider-image {
    object-position: center !important;
  }

  .container .product-slider {
    width: 696px !important;
  }
  .navbar .navbar-nav {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    background: var(--dark);
  }

  .navbar .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

@media (min-width: 992px) {
  .about-us h2 {
    font-size: 55px !important;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    transition: 0.5s;
    opacity: 0;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

.top-video-banner {
  height: 100vh;
}
.top-video-banner .content-col {
  height: 100vh;
  object-fit: cover;
}
.top-video-banner .content-col video {
  height: 100vh;
  object-fit: cover;
}

/*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.48);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--dark);
  border: 12px solid var(--dark);
  border-radius: 3rem;
}
.home-text {
  font-size: 60px;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0px; /* Adjust as needed */
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media (max-width: 768px) {
  .sid-section .sid-text-col {
    max-height: 570px !important;
  }
  .home-text {
    font-size: 30px !important;
  }
  .testimonial-section .testimonial-content .testimonial-text p {
    font-size: 20px !important;
  }
  .sub-top-video-banner .container .d-flex {
    align-items: center !important;
  }
  .sub-top-video-banner .container .d-flex .text-white {
    margin-bottom: 0 !important;
  }
  .sub-top-video-banner .container .d-flex .text-white .col-lg-6 {
    margin-bottom: 0 !important;
  }

  .contact-us-section2 .form-main-wrapper {
    padding: 20px !important;
  }
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-header {
  padding-top: 12rem;
  padding-bottom: 6rem;
  background: linear-gradient(rgba(0, 29, 35, 0.8), rgba(0, 29, 35, 0.8)),
    url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}

.page-header .breadcrumb-item + .breadcrumb-item::before {
  color: #999999;
}

.scroll-icon {
  position: relative;
  text-align: center;
}
.scroll-icon img {
  width: 30px;
  object-fit: cover;
  position: absolute;
  top: -75px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%)
    hue-rotate(200deg) brightness(115%) contrast(101%);
}

/*** About us ***/

.about-us h2 {
  font-size: 55px;
  font-weight: 400 !important;
}

.about-us h2,
.about-us p {
  color: #fff;
  font-weight: 100;
  font-size: 20px;
}

.about-us {
  background-image: url("../images/About-Us-BG-blue.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  background-color: #000;
  position: relative;
  overflow: hidden;
}
.about-us:after {
  content: "";
  background-image: url("../images/satellite.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: absolute;
  background-size: contain;
  /* z-index: 1; */
  max-width: 200px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  animation: pulse 4s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.about-us .about-content-col {
  z-index: 1;
  position: relative;
}

.about-us-slider {
  padding-bottom: 80px;
}
.about-us-slider-slick {
  padding-bottom: 160px;
}

.about-us-slider-slick .about-carousel {
  position: relative;
}
.about-us-slider-slick .about-carousel .slick-next,
.about-us-slider-slick .about-carousel .slick-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
.about-us-slider-slick .about-carousel .slick-arrow {
  border: 2px solid #fff !important;
  border-radius: 50% !important;
  width: 30px !important;
  height: 30px !important;
}

.about-us-slider-slick .about-carousel .slick-prev {
  left: -50px !important;
}
.about-us-slider-slick .about-carousel .slick-next {
  right: -50px !important;
}

.about-us-slider-slick
  .about-carousel
  .slick-slide.slick-current.slick-active
  img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  border-radius: 15px !important;
  transition: 2s;
}
.about-us-slider-slick .about-carousel .slick-slide img {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  border-radius: 15px !important;
  transition: 2s;
}

.about-us-slider-slick .about-carousel .fa-chevron-left:before {
  font-size: 17px;
  padding: 9px;
  line-height: 1.5;
  color: #fff;
}
.about-us-slider-slick .about-carousel .fa-chevron-right:before {
  font-size: 17px !important;
  padding: 9px !important;
  line-height: 1.5 !important;
  color: #fff !important;
}

/*About us animation*/

.bg-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: animateBg 50s linear infinite;
}

@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

.bg-animation span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 3s linear infinite;
}
.bg-animation span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
  /* display: block;
      right: 0; */
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
.bg-animation span:nth-child(1) {
  top: 50%;
  left: 85%;
}
.bg-animation span:nth-child(2) {
  bottom: 100%;
  right: 85%;
  top: initial;
}

/* Why us */
.why-suhora-section {
  position: relative; /* Allows child elements to position relative to this container */
  min-height: 78vh;
}
#whySuhora {
  position: sticky;
  top: 90px;
  z-index: 1029;
  background: linear-gradient(
    to right,
    rgb(7 114 149),
    rgb(13 105 145),
    rgb(28 97 133)
  );
}
.key-beneficiaries-carousel .card h5 {
  font-size: 14px;
}
.bg-why-suhora-img {
  width: 100% !important;
  background-size: cover;
}

.home-sub-text {
  font-size: 20px;
}

.why-suhora-section .mySlides h3 {
  font-size: 34px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  text-transform: none;
}
.why-suhora-section .mySlides {
  padding: 50px 0;
}
.why-suhora-section .mySlides p {
  font-size: 20px;
  color: #fff;
  line-height: 1.3;
}
.why-suhora-section .mySlides {
  position: relative;
  position: relative;
  top: 0;
  display: flex;
  transform: translate(0, -108%);
  flex-direction: column;
}

.why-us {
  /* position: sticky; */
  /* top: 150px; */
  width: 100%;
  color: white;
  z-index: 1050;
  /* background-color: #00669d; */
}
.why-us .why-us-title {
  padding-top: 15px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 50 !important;
}

.why-us p {
  font-size: 18px;
  font-weight: 500;
}

.why-suhora-section .slider .slick-slide {
  border: 0;
  z-index: 1;
  height: 60vh;
  position: relative;
  background-color: #ddd;
  min-height: 550px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  align-items: flex-end;
}

.why-suhora-section .slider .slick-slide:before {
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

.why-suhora-section .slider .slick-slide p {
  margin: 0 0 15px;
}

/* our products */

.our-product .product-col {
  padding-top: 150px;
  padding-bottom: 150px;
}
.our-product .product-col .title-sec {
  padding-bottom: 80px;
}
.our-product .product-card .card {
  min-height: 300px;
  border-radius: 15px;
  /* opacity: 0.8; */
  border: 0;
}
.our-product .product-card .card .card-body {
  display: flex;
  background-color: #00000057;
  border-radius: 15px;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  /* background: #00000000 linear-gradient(180deg, #00000000 0%, #0000004a 120%) 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1; */
}

.our-product .product-card .card .card-body .card-title {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.our-product .product-card .card .card-body .mikra-txt {
  font-family: "Mokoto", sans-serif !important;
}
.our-product .product-card .card .card-body .card-text {
  color: #fff;
  font-size: 16px;
  min-height: 120px;
  font-weight: 300;
}
.our-product .product-card .card .card-body .btn {
  background-color: transparent;
  color: #fff;
  border-radius: 15px;
  border: 0.5px solid #ffffff;
  font-size: 14px;
  font-weight: 100;
  padding: 6px 32px;
}
.our-product .client-logo {
  background-color: #ffffff8c;
  padding: 50px 0;
}

/**Our Partner**/

.our-partner {
  padding: 50px 0;
}

.our-partner img {
  height: 200px;
  object-fit: cover;
}
.our-partner.our-customer .partner-logo-carousel .testimonial-item img {
  width: 100%;
  height: unset;
  object-fit: cover;
}
.client-logo .partner-logo-carousel .testimonial-item img {
  display: flex;
  width: 150px;
  height: 75px;
  object-fit: scale-down;
  align-items: center;
}
.drdo-customer {
  width: 342px !important;
  margin-top: 61px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 177px !important;
  object-fit: contain !important;
}

.our-partner-slider .slick-initialized .slick-slide {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: center;
}
/*Testimonial*/

.testimonial-section {
  position: relative;
  padding: 80px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  transition: 2s;
}

.testimonial-section .testimonial-content {
  background-image: linear-gradient(180deg, #30c5ef 0%, #1d7993 100%);
  border-radius: 20px 20px 0 0;
  min-height: 270px;
  display: flex;
  align-items: center;
}
.testimonial-section .testimonial-content img {
  background: transparent;
  display: unset;
  width: 30px;
  margin: 0 10px 0 10px;
}
.testimonial-section .user-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
}
.testimonial-section .user-details .fa-star {
  color: #e7c700;
  font-size: 20px;
  margin: 10px 0;
}
.testimonial-section .testimonial-content .testimonial-text p {
  color: #fff;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.2;
}
.testimonial-section .testimonial-content .testimonial-text .quotes-up {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-bottom: 8px;
}
.testimonial-section .testimonial-content .testimonial-text .quotes-down {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.testimonial-section .slick-initialized .slick-slide {
  display: block;
  opacity: 1;
  transition: 2s;
  filter: blur(3px);
}

/*** Testimonial ***/
/* .testimonial-carousel::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      z-index: 1;
  } */

.testimonial-carousel .owl-item::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 300px;
  }
}
.testimonial-section .testimonial-carousel {
  z-index: 1;
}
.testimonial-section
  .testimonial-carousel
  .slick-slide.slick-current.slick-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: unset;
}
.testimonial-section .testimonial-carousel .slick-slide {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.testimonial-section .testimonial-carousel .slick-slide .slick-active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.testimonial-section .testimonial-carousel button.owl-dot.active {
  background-color: #00e5ff;
  border: 1px solid #00e5ff;
}

.testimonial-section .testimonial-carousel .slick-dots {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 1rem 0;

  list-style-type: none;
}

.testimonial-section .testimonial-carousel li {
  margin: 0 0.25rem;
}

.testimonial-section .testimonial-carousel button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;

  border: none;
  border-radius: 100%;
  background-color: #ffffff;

  text-indent: -9999px;
}

.testimonial-section .testimonial-carousel li.slick-active button {
  background-color: #00e5ff;
  border: 1px solid #00e5ff;
}

footer {
  position: relative;
}
footer .footer-sec {
  position: relative;
  z-index: 1;
  padding: 80px 0 20px;
}

/* .testimonial-section:after,
   {
      content: '';
      background: rgba(0, 0, 0, .8);
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
  } */

/*** Footer ***/

footer .footer-sec .logo {
  padding-bottom: 20px;
}
footer .footer-sec .logo img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}
footer .footer-sec .location-icon i {
  font-size: 50px;
  color: #38ceff;
}
footer .footer-sec h5 {
  color: #fff;
  font-weight: 600;
}
footer .footer-sec a {
  color: #fff;
  text-decoration: none;
}
footer .footer-sec .menu-item a {
  padding-bottom: 20px;
  display: block;
  font-weight: 200;
}
footer .footer-sec .address {
  width: 50%;
}
footer .footer-sec .address p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.btn-square {
  width: 38px;
  height: 38px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  padding: 8px;
}
.btn-square:hover {
  width: 38px;
  height: 38px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  padding: 8px;
}
.btn-square i {
  color: #000;
  font-size: 20px;
}

.footer-sec .copyright {
  padding: 25px 0;
  font-size: 16px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
  font-weight: 300;
  font-style: italic;
  color: #fff;
}

.footer-sec .copyright a {
  color: #fff;
}

/*BLOG Page**/
.blog-section {
  background-image: url("../images/join-us-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px 0 0;
  margin-top: 80px;
}
.blog-col-sec {
  z-index: 1;
  position: relative;
}
.blog-section:after {
  background-image: url("../images/join-us-bg.png");
  content: "";
  background-color: #ffffffbf;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.event-news-section {
  background-image: url("../images/join-us-bg.png");
}

.blog-section .title,
.event-news-section .title {
  padding-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .blog-section .title,
  .event-news-section .title {
    padding-top: 20px;
  }
}
.blog-section .card-col,
.event-news-section .card-col {
  padding-bottom: 80px;
}
.blog-section .card-col .category {
  position: relative;
}
.blog-section .card-col .category p,
.event-news-section .card-col .category p {
  background-color: var(--secondary);
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  position: absolute;
  top: -20px;
}
.blog-section .card-col .card img {
  height: 260px;
  object-fit: cover;
}
.blog-section .card-col .card-body,
.event-news-section .card-col .card-body {
  padding: 30px 25px;
}
.blog-section .card-col .card-body .card-title,
.event-news-section .card-col .card-body .card-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  text-transform: none;
  color: var(--secondary);
}
.blog-section .card-col .card-body a.btn.btn-light,
.event-news-section .card-col .card-body a.btn.btn-light {
  background: transparent;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  padding: 5px 10px;
  line-height: 1;
  margin-top: 20px;
}

.event-news-section {
  padding-top: 100px;
}
.event-news-section .card-col .card-body .card-title {
  text-decoration: underline;
  font-weight: 400;
}
.event-news-section .card-col .card {
  border: 0;
}
.event-news-section .card-col .card .card-body {
  padding: 30px 0;
}

/**Career Page**/
.section.career-banner h4 {
  font-size: 26px;
}
section.career-banner {
  background: url("../images/Career-banner.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
section.career-banner .container {
  padding-top: 150px;
}
section.career-banner .career-banner-title {
  padding: 80px 0;
}
section.career-banner .career-banner-title h3 {
  color: #ffffff;
  font-weight: 400;
  margin: 0 0 10px 0;
}
section.career-banner .career-banner-title p {
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}

section.join-us-sec {
  position: relative;
  width: 100%;
  background-image: url(../images/join-us-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
}

section.join-us-sec .join-info-sec-img {
  background-image: url(../images/bgshape.png);
  background-size: 73%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 71px 0;
}
section.join-us-sec .join-info-sec img {
  display: none;
}
section.join-us-sec .join-info-sec h4 {
  color: var(--secondary);
  font-weight: 500;
}
section.join-us-sec .join-info-sec p {
  color: var(--secondary);
  font-weight: 500;
}
section.join-us-sec .join-info-sec img {
  width: 80px;
}
section.join-us-sec form .open-position-form {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 80px;
}
section.join-us-sec .benifit-sec .card {
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  padding: 20px;
  flex-flow: nowrap;
}
section.join-us-sec .card-row {
  gap: 10px;
  flex-wrap: nowrap;
}
section.join-us-sec .benifit-sec .card .card-img {
  width: max-content;
  margin-right: 10px;
}
section.join-us-sec .benifit-sec .card .card-img img {
  width: 40px;
}
section.join-us-sec .benifit-sec .card .card-detial p {
  font-size: 14px;
  margin-bottom: 0;
}

select.form-select.custom-select-menu {
  border-radius: 0;
  border: none;
  border-bottom: 1.5px solid #707070;
  padding: 15px;
}
select.form-select.custom-select-menu:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}
button.custom-btn {
  border-radius: 30px;
  background-color: var(--secondary);
  padding: 10px 33px;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  border: 1px solid var(--secondary);
}
button.custom-btn:hover {
  color: #ffffff !important;
  border-color: var(--dark) !important;
  background-color: var(--dark) !important;
}

/* image Grid Sec*/
.image-library {
  background-image: url(../images/imaging-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 60px;
  margin-top: 80px;
}
.image-library .title h3 {
  color: var(--secondary);
  font-weight: 800;
  text-transform: unset;
}
.image-library .title h4 {
  color: var(--secondary);
  font-weight: 400;
  text-transform: unset;
}
.image-library.grid-container {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 68rem;
  width: 100%;
}

.image-library .main .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.image-library .main .card {
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  color: #333333;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
}
.image-library .main .card .card-detial {
  padding: 10px 20px;
}
.image-library .main .card .card-detial p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.image-library .main .card .card-detial span {
  font-size: 14px;
}
.image-library .main .card-image {
  background: #ffffff;
  display: block;
  padding-top: 70%;
  position: relative;
  border-radius: 8px;
  width: 100%;
}
.image-library .main .card-image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.cta-sec {
  background-image: url(../images/cta-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px;
  text-align: center;
}
.cta-sec.book-demo {
  background-image: url(../images/Book-a-demo-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px;
  text-align: center;
}
.cta-sec h3 {
  color: #ffffff;
  margin-bottom: 0;
  text-transform: none;
}
@media only screen and (max-width: 600px) {
  .image-library .main .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}
/*disaster-lnsurance page*/
.container .mirka-product-slider {
  /* height: 420px; */
  width: 646px;
}
.container .product-slider {
  width: 646px;
}
.container .mirka-product-slider .slider-image {
  height: 420px !important;
  /* width: 646px; */
}
.container .mirka-product-slider .first-mirka {
  margin-left: -2px;
}

.sub-top-video-banner {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
.sub-top-video-banner video {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub-top-video-banner .container {
  position: relative;
  z-index: 2;
}
.sub-top-video-banner .container .d-flex {
  align-items: flex-end;
}
.sub-top-video-banner .container .d-flex .text-white {
  margin-bottom: 3rem;
}
.sub-top-video-banner .container .d-flex .text-white .col-lg-6 {
  margin-bottom: 3rem;
}
.sub-top-video-banner .container .d-flex .text-white .col-lg-6 h1 {
  font-size: 40 !important;
}
.sub-top-video-banner .w-415px {
  width: 415px;
}

.sub-top-video-banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.sid-section {
  padding: 80px 0;
  background-image: url(../images/Mesh-Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.sid-section.our-product .product-card .card .card-body {
  background: none;
}
.sid-section.our-product .product-card .card .card-body .card-title {
  font-size: 24px;
}
.sid-section.our-product .product-card .card {
  margin: 10px;
}
.sid-section .sid-col {
  margin-bottom: 80px;
}
.sid-section.mirka-section .image-col .image-container {
  height: 100%;
}
.sid-section .sid-text-col {
  background-color: #00669d;
  padding: 30px;
  display: flex;
  max-height: 420px;
  flex-direction: column;
  justify-content: center;
}
.sid-section .sid-text-col {
  color: #fff;
}

.sid-section .image-col img {
  display: block;
  max-width: 100%;
}

.sid-section .image-col .container {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  --position: 50%;
}

.sid-section .image-col .slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.sid-section .image-col .image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
  filter: grayscale(100%);
}
.sid-section .image-col .diaster-image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
  /* filter: grayscale(100%); */
}

.sid-section .image-col .slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for Firefox */
  width: 100%;
  height: 100%;
  max-height: 420px;
  overflow: hidden;
}

.sid-section .image-col .slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.sid-section .image-col .slider-line {
  position: absolute;
  inset: 0;
  width: 0.2rem;
  height: 100%;
  background-color: #fff;
  /* z-index: 10; */
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.sid-section .image-col .slider-button {
  position: absolute;
  background-color: #fff;
  color: black;
  padding: 0.5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: 1px 1px 1px hsl(0, 50%, 2%, 0.5);
}
.sid-stat-sec {
  background-image: url(../images/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-with-right-slider .content-column {
  max-width: 500px;
  width: 100%;
  margin-right: auto;
}

.bg-image-with-right-slider .slick-arrow {
  bottom: 50% !important;
}
.bg-image-with-right-slider .slick-arrow.slick-next,
.bg-image-with-right-slider .slick-arrow.slick-prev {
  transform: rotate(90deg);
  right: -75px !important;
}
.bg-image-with-right-slider .slick-arrow.slick-prev {
  top: 150px !important;
}
.bg-image-with-right-slider .slick-arrow.slick-next {
  bottom: 150px !important;
}
.bg-image-with-right-slider .card.bg-primary {
  background-color: #009ec9 !important;
}
.bg-image-with-right-slider .card.bg-secondary {
  background-color: #00ac9b !important;
}
.bg-image-with-right-slider .card .card-body {
  padding: 42px;
}
.key-beneficiaries .text-col {
  background-color: #00669d;
  padding: 30px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  margin: 10px 0;
  width: 100%;
}

section.sid-section.our-product h2 {
  font-weight: 500;
}
section.sid-section.our-product h4 {
  font-weight: 400;
}
.bg-image-with-right-slider .content-column {
  margin-left: -40px;
  padding: 50px 0;
}
.bg-with-text {
  background-image: url("../images/Stay-Ahead-with-Timely-Insights.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.bg-with-text .title-col {
  max-width: 550px;
  width: 100%;
  margin-left: auto;
  padding: 50px 100px 50px 0;
}
.bg-with-text .title-col h1 {
  font-size: 62px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.key-beneficiaries {
  padding: 80px 0;
}
.key-beneficiaries .text-col {
  background-color: #00669d;
  padding: 30px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
}
.key-beneficiaries .text-col img {
  width: 50px;
  padding-bottom: 15px;
}
.key-beneficiaries-carousel .card {
  min-height: 160px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 0;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 0px #dedede;
  text-align: center;
  margin: 10px 10px;
}

.key-beneficiaries .text-col {
  background-color: #00669d;
  padding: 30px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  margin: 10px 0;
}
.key-beneficiaries-carousel .slick-arrow,
.bg-image-with-right-slider .slick-arrow {
  position: absolute;
  bottom: -50px;
  margin: -20px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.key-beneficiaries-carousel .slick-arrow.slick-prev,
.bg-image-with-right-slider .slick-arrow.slick-prev {
  right: 100px;
  background: url("https://img.icons8.com/ios/50/000000/long-arrow-left.png") 0
    0 / 100% no-repeat;
}
.key-beneficiaries-carousel .slick-arrow.slick-next,
.bg-image-with-right-slider .slick-arrow.slick-next {
  right: 20px;
  background: url("https://img.icons8.com/ios/50/000000/long-arrow-right.png") 0
    0 / 100% no-repeat;
}

.book-now-btn {
  background-color: #08a3c191;
  text-align: center;
  padding: 30px;
}
.book-now-btn h3 {
  margin-bottom: 0;
  color: #fff;
  text-transform: none;
  font-weight: 300;
}

/*defence-intelligence.html*/
.sub-top-image-banner.defence-intelligence-banner {
  background-image: url(../images/defence-banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 700px; */
  height: 100vh;
}
.sub-top-image-banner.defence-intelligence-banner p {
  font-size: 20px;
}

.mirka-section .card-image-col .card {
  margin-bottom: 20px;
  overflow: hidden;
}
.mirka-section .card-image-col .card:hover img {
  transform: scale(1.2);
  transition: 1s;
}
.mirka-section .card-image-col .card img {
  transition: 1s;
}

.aboutus-page .line-height-normal {
  /* background-color: #00000077; */
  padding: 20px;
}

.offcanvas {
  background: url(../images/Your-comprehensive_bg.png);
  color: #fff;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1100;
}
.offcanvas .btn-close {
  color: #fff !important;
  filter: invert(1);
}

.mirka-section .card-image-col .card-img-overlay {
  display: flex;
  flex-direction: column;
  padding: 38px 50px;
}
.mirka-section .card-image-col h4 {
  text-transform: none;
  font-weight: 500;
  margin-bottom: 20px;
}
.mirka-section .sid-text-col h3,
.mirka-section .card-image-col h4 span,
.general-container .title-card .marg-bott span {
  font-family: "Mokoto", sans-serif;
}
.image-slider-with-animation .title h2 {
  font-weight: 500;
}
.image-slider-with-animation .general-container {
  display: flex;
  height: 30rem;
  margin: 0 auto 100px;
  padding: 0;
}

.image-slider-with-animation .radio {
  display: none;
}

.image-slider-with-animation .content {
  background: transparent;
  background-image: url("../images/01_MDA.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  flex: 1;
  overflow: hidden;
  position: relative;
  transition: all 0.5s cubic-bezier(0.05, 0.6, 0.39, 0.94);
}

.image-slider-with-animation .content::before {
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.image-slider-with-animation .content > * {
  position: relative;
  z-index: 1;
}

.image-slider-with-animation .content:nth-of-type(2) {
  background: transparent;
  background-image: url("../images/02_TSA.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-slider-with-animation .content:nth-of-type(3) {
  background: transparent;
  background-image: url("../images/03_MapVyuh.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-slider-with-animation .card-title {
  bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  left: 0;
  line-height: 1.4;
  opacity: 0;
  position: absolute;
  transform: translateX(2rem);
  transition: 290ms cubic-bezier(0.05, 0.62, 0.4, 0.95) 300ms;
  transition-property: opacity, transform;
  user-select: none;
  padding: 0 30px 0 25px;
}

.image-slider-with-animation .title-card {
  bottom: 100px;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  left: 1.5rem;
  line-height: 1.1;
  opacity: 1;
  position: absolute;
  transform: translateX(2rem);
  transition: 290ms cubic-bezier(0.05, 0.6, 0.42, 0.94) 300ms;
  transition-property: opacity, transform;
  user-select: none;
}

.image-slider-with-animation .subsubtitle {
  font-size: 16px;
  text-transform: none;
  font-weight: 300;
}

.image-slider-with-animation .paddT {
  padding-left: 3rem;
  padding-right: 3rem;
}

.image-slider-with-animation .radio:hover + .content {
  flex: 2;
}

.image-slider-with-animation .radio:hover + .content > .card-title {
  opacity: 1;
  transform: translateX(0);
}

.image-slider-with-animation .radio:hover + .content > .title-card {
  opacity: 1;
  transform: translateX(0);
}

.image-slider-with-animation .marg-bott {
  margin-bottom: 1.5rem;
}

.image-slider-with-animation .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.4;
  z-index: 1;
}

/*About us*/
.sub-top-image-banner {
  background-image: url("../images/about_suhora_tap_banner_without_text.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 700px;
  height: 75vh;
}
.sub-top-image-banner .onion-layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 75vh;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.486);
  color: white;
  z-index: 100;
}
.layer-defence {
  height: 100vh !important;
}
.sub-top-image-banner p {
  font-size: 35px;
}
.content .onion-layer-defence {
  position: absolute;
  background-color: #0000008e;
  width: 100%;
  height: 100%;
}
.mission-vission {
  background-image: url("../images/Mission-Vision Image.webp");
  width: 100%;
  height: 80vh;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.onion-mission {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.486);
}
.mission-vission hr {
  width: 10%;
  border: 3px solid gray;
}
.mission-vission p {
  font-size: 20px;
}
.mission-vission h1 {
  color: white;
}


.about-suhora-section {
  background-image: url("../images/About-US-BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  position: relative;
}
.about-suhora-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.9;
  z-index: 0;
}
.about-suhora-section > .container {
  z-index: 1;
  position: relative;
}
.about-suhora-section .team-card .card {
  width: 20rem;
  border: 0;
  border-radius: 0;
  background: transparent;
  margin-bottom: 40px;
}
.about-suhora-section .team-card .card img {
  border-radius: 0;
}
.about-suhora-section .team-card .card .card-body {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.about-suhora-section .our-team h3,
.gallery-section .title {
  font-weight: 500;
}
.about-suhora-section .our-team p {
  font-size: 24px;
  font-weight: 200;
}
.about-suhora-section .our-team .title {
  color: #00669d;
}
.about-suhora-section .our-team .leadership-title {
  padding-top: 80px;
  padding-bottom: 30px;
}
.about-suhora-section .team-card {
  padding-bottom: 80px;
}
.about-suhora-section .team-card .about-founder h5.card-title,
.about-suhora-section .founder-testimonial .card-title {
  font-weight: 600;
  margin-bottom: 5px;
}
.about-suhora-section .team-card .about-founder p.card-text,
.about-suhora-section .founder-testimonial .card-text {
  font-size: 18px;
}
.about-suhora-section .founder-testimonial .card {
  padding: 30px;
  border: 0;
  border-radius: 20px;
  margin: 20px;
  background-color: #fff;
}
.about-suhora-section .founder-testimonial .card .card-content {
  padding-top: 20px;
}
.about-suhora-section .founder-testimonial .card img {
  border-radius: 20px !important;
}
.about-suhora-section .founder-testimonial .card .card-body {
  padding-left: 30px;
}
.about-suhora-section .founder-testimonial {
  padding-bottom: 80px;
}
.about-suhora-section .founder-testimonial .title {
  font-weight: 300;
}
.about-suhora-section .founder-testimonial .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.about-suhora-section .founder-testimonial li {
  margin: 0 0.25rem;
}
.about-suhora-section .founder-testimonial button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #adadad;
  text-indent: -9999px;
}
.about-suhora-section .founder-testimonial li.slick-active button {
  background-color: #00e5ff;
  border: 1px solid #00e5ff;
}

.gallery-section-ourteam {
  /* background-image: url(../images/Team-image-3-about-us.JPG);
    background-size: contain;
    background-repeat: no-repeat; */
  width: 100%;
  overflow: hidden;
  max-width: 1230px;
  min-height: 700px;
  height: 75vh;
}
.gallery-section-ourteam img {
  object-fit: contain;
}
.gallery-section {
  position: relative;
}
.gallery-section .testimonial-item img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.gallery-section .slick-arrow,
.gallery-section .slick-arrow {
  position: absolute;
  bottom: -50px;
  margin: -20px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.gallery-section .slick-arrow.slick-prev {
  right: 130px;
  background: url(https://img.icons8.com/ios/50/000000/long-arrow-left.png) 0 0 /
    100% no-repeat;
}
.gallery-section .slick-arrow.slick-next {
  background: url(https://img.icons8.com/ios/50/000000/long-arrow-right.png) 0 0 /
    100% no-repeat;
  right: 60px;
}

/* imaging capabilities Page*/
.sid-section .card-image-col .card .card-body {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  padding: 13px 30px;
  color: #fff;
  background-color: rgba(27, 27, 27, 0.6);
  transition: 0.4s ease-in-out;
  border: 0;
  border-radius: 0 0 20px 20px;
}

.card-image-col .card .card-body {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  padding: 13px 30px;
  color: #fff;
  background-color: rgba(27, 27, 27, 0.6);
  transition: 0.4s ease-in-out;
}

.card-image-col .card:hover .card-body {
  height: 100%;
  border-radius: 20px;
  display: flex;
  bottom: 0;
  background-color: rgba(27, 27, 27, 0.6);
  flex-flow: column;
  justify-content: center;
}

.sid-section .card-image-col .card:hover .p {
  opacity: 1;
  visibility: visible;
}
.sid-section .card-image-col img {
  border-radius: 20px;
}
.left-content-with-right-video .video-column {
  padding: 0;
  display: flex;
}
.left-content-with-right-video .video-column video {
  width: 100%;
}
.left-content-with-right-video .bg-with-text {
  background-image: none;
  background-color: #00669d;
}
.left-content-with-right-video .bg-with-text .title-col {
  padding: 50px 40px 50px 65px;
}

.solution-hub-section.imaging-hub-sec {
  background-image: url(../images/Your-comprehensive_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 0;
  margin-bottom: -70px;
}
.sub-top-image-banner.imaging-capabilities-banner {
  background-image: url(../images/Spade_Header.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 700px; */
  height: 100vh;
}
.sub-top-image-banner.imaging-capabilities-banner p {
  font-size: 16px;
}
.solution-hub-section .title-col {
  color: #fff;
  padding-bottom: 40px;
}
.solution-hub-section .title-col h3 {
  font-weight: 400;
  text-transform: none;
}
.solution-hub-section .title-col p {
  font-size: 28px;
}
.solution-hub-section .card {
  border: 0;
  background: transparent;
}

.solution-hub-section .card img {
  transition: 1s;
}

.solution-hub-section .card img:hover {
  transform: scale(1.1);
  transition: 1s;
}
.solution-hub-section .card .card-body {
  position: absolute;
  bottom: 15px;
  width: -webkit-fill-available;
  margin: 0 20px;
  color: #fff;
  background-color: #0000006e;
  padding: 8px 20px 10px;
  border-radius: 15px;
}
.solution-hub-section .card .card-body .card-title {
  margin-bottom: 0;
  font-weight: 200;
  font-size: 20px;
}
.solution-hub-section .solution-hub-card {
  z-index: 2;
  position: relative;
}
.card-image-col .card:hover .p {
  opacity: 1;
  visibility: visible;
}
.left-content-with-right-video .video-column {
  padding: 0;
  display: flex;
}
.left-content-with-right-video .video-column video {
  width: 100%;
}
.left-content-with-right-video .bg-with-text {
  background-image: none;
  background-color: #00669d;
}
.left-content-with-right-video .bg-with-text .title-col {
  padding: 50px 40px 50px 65px;
}
.left-content-with-right-video .bg-with-text .title-col {
  padding: 50px 40px 50px 65px;
}

.line-height-normal {
  line-height: 1.2;
}

.solution-hub-section {
  background-image: url(../images/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
.solution-hub-section .title-col {
  color: #fff;
  padding-bottom: 40px;
}
.solution-hub-section .card .card-body {
  margin: -65px 20px 0px;
  color: #fff;
  background-color: #000;
}
/*Form*/
.contact-us-section {
  background-image: url(../images/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 150px 0px 80px;
}

@media (min-width: 992px) {
  .contact-us-section .main-content-col .mobile-section {
    display: flex;
    justify-content: center;
  }

  .contact-us-section .main-content-col .email-section {
    display: flex;
    justify-content: right;
  }
}
.contact-us-section .main-content-col {
  z-index: 2;
  position: relative;
}
.contact-us-section .main-content-col .title-col p {
  font-size: 24px;
  padding-bottom: 20px;
  font-weight: 300;
}
.contact-us-section .address {
  width: 70%;
}
.contact-us-section .address,
.contact-us-section .contact-number,
.contact-us-section .email-id {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-us-section .address img,
.contact-us-section .contact-number img {
  width: 30px;
}
.contact-us-section .email-id img {
  width: 45px;
}
.contact-us-section .address p,
.contact-us-section .contact-number p,
.contact-us-section .email-id p {
  margin-bottom: 0;
}

.contact-us-section .form-main-wrapper {
  background-color: #fff;
  padding: 100px;
  border-radius: 20px;
  margin-top: 30px;
}
.contact-us-section .form-main-wrapper .form-title h3 {
  text-align: center;
  font-weight: 500;
  text-transform: none;
}
.contact-us-section .form-main-wrapper .form-title h3 span {
  color: #00669d;
}
.contact-us-section .form-main-wrapper .form-btn,
.contact-us-section .form-main-wrapper .form-btn:hover {
  border: 1px solid #00669d;
  color: #00669d;
}

.btn-primary {
  background: #00669d;
  border: 1px solid #00669d;
  color: #ffff;
}

.btn-primary:hover {
  background: #00669d;
  border: 1px solid #00669d;
}

/* Book a demo form */

/*Form*/
.contact-us-section2 {
  background-image: url(../images/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0 0px 80px;
}

@media (min-width: 992px) {
  .contact-us-section2 .main-content-col .mobile-section {
    display: flex;
    justify-content: center;
  }

  .contact-us-section2 .main-content-col .email-section {
    display: flex;
    justify-content: right;
  }
}
.contact-us-section2 .main-content-col {
  z-index: 2;
  position: relative;
}
.contact-us-section2 .main-content-col .title-col p {
  font-size: 24px;
  padding-bottom: 20px;
  font-weight: 300;
}
.contact-us-section2 .address {
  width: 70%;
}
.contact-us-section2 .address,
.contact-us-section2 .contact-number,
.contact-us-section2 .email-id {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-us-section2 .address img,
.contact-us-section2 .contact-number img {
  width: 30px;
}
.contact-us-section2 .email-id img {
  width: 45px;
}
.contact-us-section2 .address p,
.contact-us-section2 .contact-number p,
.contact-us-section2 .email-id p {
  margin-bottom: 0;
}

.contact-us-section2 .form-main-wrapper {
  background-color: #fff;
  padding: 100px;
  border-radius: 20px;
  margin-top: 30px;
}
.contact-us-section2 .form-main-wrapper .form-title h3 {
  text-align: center;
  font-weight: 500;
  text-transform: none;
}
.contact-us-section2 .form-main-wrapper .form-title h3 span {
  color: #00669d;
}
.contact-us-section2 .form-main-wrapper .form-btn,
.contact-us-section2 .form-main-wrapper .form-btn:hover {
  border: 1px solid #00669d;
  color: #00669d;
}
/* end book demo */

@media (max-width: 1024px) {
  .image-slider-with-animation .general-container {
    flex-direction: column;
    min-height: 40rem;
  }
  .contact-us-section .form-main-wrapper {
    padding: 20px !important;
  }
  .aboutus-page .line-height-normal {
    padding: 0 !important;
  }
  .image-slider-with-animation .radio:hover + .content,
  .image-slider-with-animation .content {
    flex: 2;
  }

  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 35px;
  }
  .top-video-banner .content.content {
    height: 100vh;
    object-fit: cover;
  }
  .top-video-banner .content.content video {
    height: 100vh;
    object-fit: cover;
  }
  .our-product .product-col {
    padding: 80px 0;
  }
  .why-us-slider .text {
    width: 90%;
  }
  footer .footer-sec .address {
    width: 100%;
  }
  footer .footer-sec .menu-item {
    padding-bottom: 20px;
  }
  .about-us:after {
    background-image: none;
  }
}

@media (max-width: 767px) {
  .image-slider-with-animation .radio:hover + .content {
    flex: 5;
  }
  .image-slider-with-animation .radio:hover + .content > .title-card {
    bottom: initial;
    top: 70px;
  }
  .image-slider-with-animation .title-card {
    bottom: 0;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 30px;
  }
  .fixed-top.bg-dark.navbar .navbar-nav .nav-link {
    color: #fff !important;
  }
  .about-us {
    padding-top: 50px;
  }
  .about-us-slider .about-carousel .owl-prev {
    left: 0 !important;
  }
  .about-us-slider .about-carousel .owl-next {
    right: 0 !important;
  }
  .why-us-slider .text {
    width: 95%;
  }
  .why-us-slider .mySlides p {
    font-size: 18px;
  }
  .why-us-slider .mySlides h3 {
    font-size: 28px;
  }
  .why-us-slider .mySlides img {
    height: 500px;
  }
  .why-us p {
    font-size: 18px;
  }
  .our-product .product-col {
    padding: 50px 20px;
  }

  .our-product .product-card .card {
    margin-bottom: 20px;
  }
  .client-logo h3 {
    margin-bottom: 20px !important;
  }
  .testimonial-section {
    padding: 50px 0;
  }
  footer {
    position: relative;
    padding: 0px 0 20px;
  }
  footer .footer-sec .menu-item,
  footer .footer-sec .social-icon {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .footer-sec .copyright {
    padding: 10px;
  }
  .join-info-sec-img {
    display: none !important;
  }
  section.join-us-sec .join-info-sec img {
    display: block;
    margin: 0 auto;
    width: 50px;
  }
  section.join-us-sec .join-info-sec h4 {
    font-size: 18px;
  }
  section.join-us-sec .join-info-sec p {
    font-size: 14px;
  }
  section.join-us-sec form .open-position-form {
    padding: 40px 20px;
  }
  select.form-select.custom-select-menu {
    font-size: 14px;
  }
  button.custom-btn {
    font-size: 14px;
  }
  .bg-image-with-right-slider .content-column {
    margin-left: 0;
  }
  .key-beneficiaries {
    padding: 0 0 80px 0;
  }
  .key-beneficiaries-carousel .card {
    margin-top: 20px;
  }
  .sub-top-video-banner {
    height: 100vh;
  }
  section.join-us-sec .card-row {
    gap: 10px;
    flex-wrap: wrap;
  }
}

.rounded-dep {
  width: auto;
  min-width: 140px;
  height: 40px;
  font-weight: 500;
  font-size: 18px;
  padding: 7px 10px;
  background-color: white;
  color: var(--secondary);
  text-transform: capitalize;
  border: 1px solid black;
  border-radius: 10px;
}
.job-cards-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 100px;
}

.job-card {
  text-transform: capitalize;
  width: 600px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 80px;
  background-color: rgb(249 249 249);
}
.job-card:hover {
  color: white;
  background-color: #004c82;
  border-radius: 10px;
  transition: 0.5s;
  /* cursor: pointer; */
}
.dep-name-modal {
  text-transform: capitalize;
}
.job-card .job-item {
  flex-wrap: wrap;
}
.job-card:hover button {
  color: #004c82;
  background-color: #fff;
  cursor: pointer;
}
.job-card .title {
  font-size: 23px;
  font-weight: 600;
  justify-content: space-between;
}
.job-card button {
  font-size: 13px;
}
.job-card p {
  text-transform: capitalize;
}

.job-department {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
